@model IEnumerable<Sintronico.Models.DetallePresupuesto>

@{
    ViewData["Title"] = "Index";
    var Presupuesto = 0;
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Agregar Repuesto", "CreateRepuesto",new { id = (int)ViewBag.IdPresupuesto}) |
    @Html.ActionLink("Agregar Reparacion", "CreateArreglo",new { id = (int)ViewBag.IdPresupuesto})
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDetalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPresupuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRepuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDetalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPresupuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRepuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.IdDetalle }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdDetalle })
            </td>
        </tr>
}
    </tbody>
</table>
